<!--
    Generates job posting cards.

    If the user is either not authenticated or is logged in as a job-seeker,
    they will be able to see every job available in the database. Ideally,
    the jobs more suitable to their skills are displayed first.

    If the user is logged in as a recruiter, they will instead see their job
    postings, and will have the option to edit their current postings or add
    additional postings.

    Each job posting will display:
        - Job Title
        - Company
        - Job Location
        - Description of Job
        - Job Skills
        - Salary Lower
        - Salary Upper
        - Visa Sponsorship Status
        - Remote Statys
-->
{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
    <div class="conatiner">
        <div class="row mt-3">
            <div class="col mx-auto mb-3">
                <h2>Jobs Page</h2>
                <hr>
                {% for j in template_data.jobs %}
                <div class="d-flex align-items-center justify-content-center">
                    <div class="card w-75 mb-3">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-8 border-end">
                                    <h3 class="card-title" style="font-size: 24px;">{{ j.title }}</h3>
                                    <h6 class="card-subtitle text-muted fw-normal mb-1" style="text-decoration: none">
                                        {{ j.location }} | 
                                        {% if j.isRemote %}Remote{% else %}On-site{% endif %} | 
                                        {% if j.hasVisaSponsorship %}Visa-Sponsored{% endif %} | 
                                        ${{ j.salaryLower }} - ${{ j.salaryUpper }}
                                    </h6>
                                    <p class="card-text fw-bold mb-1">Job Description</p>
                                    <p class="card-text">{{ j.description }}</p>
                                    <p class="card-text fw-bold">Job Skills</p>
                                    <p class="card-text">{{ j.skills }}</p>

                                    {% if user.is_authenticated and user.is_job_seeker %}
                                    <a class="btn btn-primary" href="{% url 'jobs.apply' j.id %}" role="button">Apply</a>
                                    {% endif %}
                                </div>
                                <div class="col-4 text-left">
                                    <img src="{% static 'img/company-chatgpt.png' %}" class="rounded" width="25" height="25" alt="company icon">
                                    {{ j.company }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="text-center">
                    <p>No jobs available. Try changing your filters!</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}